gr2013-df/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "gr2013-df"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FLOW_huerfanos_clientes_y_localizacion')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "2.transform/huerfanos"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_LT_customer",
								"type": "DatasetReference"
							},
							"name": "Customer"
						},
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_lt_customer_localizacion",
								"type": "DatasetReference"
							},
							"name": "CustomerLocalizacion"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_lt_customer_localizacion",
								"type": "DatasetReference"
							},
							"name": "CrearPadresFicticios"
						}
					],
					"transformations": [
						{
							"name": "ListaHuerfanos"
						},
						{
							"name": "ListaIDsHuerfanos"
						},
						{
							"name": "ListaPadresFicticios"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {Cliente ID} as integer,",
						"          Nombre as string,",
						"          Apellido as string,",
						"          Segmento as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Customer",
						"source(output(",
						"          {Cliente ID} as integer,",
						"          Pais as string,",
						"          Ciudad as string,",
						"          Estado as string,",
						"          {Codigo Postal} as integer,",
						"          Region as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> CustomerLocalizacion",
						"Customer, CustomerLocalizacion exists(Customer@{Cliente ID} == CustomerLocalizacion@{Cliente ID},",
						"     negate:true,",
						"     broadcast: 'auto')~> ListaHuerfanos",
						"ListaHuerfanos select(mapColumn(",
						"          id_cliente = {Cliente ID}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ListaIDsHuerfanos",
						"ListaIDsHuerfanos derive({Cliente ID} = id_cliente,",
						"          Pais = \"huérfano de customer\",",
						"          Ciudad = \"huérfano de customer\",",
						"          Estado = \"huérfano de customer\",",
						"          {Codigo Postal} = 0,",
						"          Region = 0) ~> ListaPadresFicticios",
						"ListaPadresFicticios sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          {Cliente ID} as integer,",
						"          Pais as string,",
						"          Ciudad as string,",
						"          Estado as string,",
						"          {Codigo Postal} as integer,",
						"          Region as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          {Cliente ID},",
						"          Pais,",
						"          Ciudad,",
						"          Estado,",
						"          {Codigo Postal},",
						"          Region",
						"     )) ~> CrearPadresFicticios"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FLOW_huerfanos_detalle_envios_y_clientes')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "2.transform/huerfanos"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_tb_detalle_envios",
								"type": "DatasetReference"
							},
							"name": "DetalleEnvios"
						},
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_LT_customer",
								"type": "DatasetReference"
							},
							"name": "Clientes"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_LT_customer",
								"type": "DatasetReference"
							},
							"name": "CrearPadresFicticios",
							"rejectedDataLinkedService": {
								"referenceName": "LS_FILESTORAGE_SOURCE_banmarket",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "ListaHuerfanos"
						},
						{
							"name": "ListaIDsHuerfanos"
						},
						{
							"name": "ListaPadresFicticios"
						}
					],
					"scriptLines": [
						"source(output(",
						"          num_order as string,",
						"          fec_orden as date,",
						"          fec_envio as date,",
						"          modo_envio as integer,",
						"          cliente_id as integer,",
						"          imp_subtotal as double,",
						"          region_id as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DetalleEnvios",
						"source(output(",
						"          {Cliente ID} as integer,",
						"          Nombre as string,",
						"          Apellido as string,",
						"          Segmento as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Clientes",
						"DetalleEnvios, Clientes exists(cliente_id == {Cliente ID},",
						"     negate:true,",
						"     broadcast: 'auto')~> ListaHuerfanos",
						"ListaHuerfanos select(mapColumn(",
						"          id_cliente = cliente_id",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ListaIDsHuerfanos",
						"ListaIDsHuerfanos derive(id_cliente = id_cliente,",
						"          desc_nombres = \"huérfano de detalle_envios\",",
						"          desc_apellidos = \"huérfano de detalle_envios\",",
						"          desc_segmento = \"huérfano de detalle_envios\") ~> ListaPadresFicticios",
						"ListaPadresFicticios sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          {Cliente ID} as integer,",
						"          Nombre as string,",
						"          Apellido as string,",
						"          Segmento as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     outputRejectedData: true,",
						"     mapColumn(",
						"          {Cliente ID} = id_cliente,",
						"          Nombre = desc_nombres,",
						"          Apellido = desc_apellidos,",
						"          Segmento = desc_segmento",
						"     )) ~> CrearPadresFicticios"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FLOW_huerfanos_detalle_envios_y_modo_envio')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "2.transform/huerfanos"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_tb_detalle_envios",
								"type": "DatasetReference"
							},
							"name": "DetalleEnvios"
						},
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_tb_modo_envio",
								"type": "DatasetReference"
							},
							"name": "ModosEnvio"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_tb_modo_envio",
								"type": "DatasetReference"
							},
							"name": "CrearPadresFicticios",
							"rejectedDataLinkedService": {
								"referenceName": "LS_FILESTORAGE_SOURCE_banmarket",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "ListaHuerfanos"
						},
						{
							"name": "ListaIDsHuerfanos"
						},
						{
							"name": "ListaPadresFicticios"
						}
					],
					"scriptLines": [
						"source(output(",
						"          num_order as string,",
						"          fec_orden as date,",
						"          fec_envio as date,",
						"          modo_envio as integer,",
						"          cliente_id as integer,",
						"          imp_subtotal as double,",
						"          region_id as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DetalleEnvios",
						"source(output(",
						"          id_modo as integer,",
						"          Descripcion as string,",
						"          Tipo_x0020_ID as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> ModosEnvio",
						"DetalleEnvios, ModosEnvio exists(modo_envio == id_modo,",
						"     negate:true,",
						"     broadcast: 'auto')~> ListaHuerfanos",
						"ListaHuerfanos select(mapColumn(",
						"          id_modo_envio = modo_envio",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ListaIDsHuerfanos",
						"ListaIDsHuerfanos derive(id_modo_envio = id_modo_envio,",
						"          desc_modo_envio = \"huérfano de detalle_envios\",",
						"          id_tipo_envio = 0) ~> ListaPadresFicticios",
						"ListaPadresFicticios sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id_modo as integer,",
						"          Descripcion as string,",
						"          Tipo_x0020_ID as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     outputRejectedData: true,",
						"     mapColumn(",
						"          id_modo = id_modo_envio,",
						"          Descripcion = desc_modo_envio,",
						"          Tipo_x0020_ID = id_tipo_envio",
						"     )) ~> CrearPadresFicticios"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FLOW_huerfanos_detalle_envios_y_regiones')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "2.transform/huerfanos"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_tb_detalle_envios",
								"type": "DatasetReference"
							},
							"name": "DetalleEnvios"
						},
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_Regiones",
								"type": "DatasetReference"
							},
							"name": "Regiones"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_Regiones",
								"type": "DatasetReference"
							},
							"name": "CrearPadresFicticios",
							"rejectedDataLinkedService": {
								"referenceName": "LS_FILESTORAGE_SOURCE_banmarket",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "ListaHuerfanos"
						},
						{
							"name": "ListaIDsHuerfanos"
						},
						{
							"name": "ListaPadresFicticios"
						}
					],
					"scriptLines": [
						"source(output(",
						"          num_order as string,",
						"          fec_orden as date,",
						"          fec_envio as date,",
						"          modo_envio as integer,",
						"          cliente_id as integer,",
						"          imp_subtotal as double,",
						"          region_id as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DetalleEnvios",
						"source(output(",
						"          {Region ID} as integer,",
						"          {Region Desc} as string,",
						"          {Detalle region} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Regiones",
						"DetalleEnvios, Regiones exists(region_id == {Region ID},",
						"     negate:true,",
						"     broadcast: 'auto')~> ListaHuerfanos",
						"ListaHuerfanos select(mapColumn(",
						"          id_region = region_id",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ListaIDsHuerfanos",
						"ListaIDsHuerfanos derive(id_region = id_region,",
						"          desc_region = \"huérfano de detalle_envios\",",
						"          desc_detalle = \"huérfano de detalle_envios\") ~> ListaPadresFicticios",
						"ListaPadresFicticios sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          {Region ID} as integer,",
						"          {Region Desc} as string,",
						"          {Detalle region} as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     outputRejectedData: true,",
						"     mapColumn(",
						"          {Region ID} = id_region,",
						"          {Region Desc} = desc_region,",
						"          {Detalle region} = desc_detalle",
						"     )) ~> CrearPadresFicticios"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FLOW_huerfanos_detalle_ordenes_y_productos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "2.transform/huerfanos"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_LT_detalle_ordenes",
								"type": "DatasetReference"
							},
							"name": "DetalleOrdenes"
						},
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_LT_productos",
								"type": "DatasetReference"
							},
							"name": "Productos"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_LT_productos",
								"type": "DatasetReference"
							},
							"name": "CrearPadresFicticios",
							"rejectedDataLinkedService": {
								"referenceName": "LS_FILESTORAGE_SOURCE_banmarket",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "ListaHuerfanos"
						},
						{
							"name": "ListaIDsHuerfanos"
						},
						{
							"name": "ListaPadresFicticios"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {Detalle Orden} as integer,",
						"          {Numero Orden} as string,",
						"          {Producto ID} as integer,",
						"          {Linea Total} as double,",
						"          Cantidad as integer,",
						"          Descuento as double,",
						"          {Precio Unitario} as double,",
						"          Ganancia as double,",
						"          region_id as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DetalleOrdenes",
						"source(output(",
						"          {Producto ID} as integer,",
						"          {Numero Producto} as string,",
						"          {Producto Sub Categoria ID} as string,",
						"          {Nombre Producto} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Productos",
						"DetalleOrdenes, Productos exists(DetalleOrdenes@{Producto ID} == Productos@{Producto ID},",
						"     negate:true,",
						"     broadcast: 'auto')~> ListaHuerfanos",
						"ListaHuerfanos select(mapColumn(",
						"          id_producto = {Producto ID}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ListaIDsHuerfanos",
						"ListaIDsHuerfanos derive(id_producto = id_producto,",
						"          desc_referencia = \"huérfano de detalle_ordenes\",",
						"          id_subcategoria_producto = \"huérfano de detalle_ordenes\",",
						"          desc_nombre = \"huérfano de detalle_ordenes\") ~> ListaPadresFicticios",
						"ListaPadresFicticios sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          {Producto ID} as integer,",
						"          {Numero Producto} as string,",
						"          {Producto Sub Categoria ID} as string,",
						"          {Nombre Producto} as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     outputRejectedData: true,",
						"     mapColumn(",
						"          {Producto ID} = id_producto,",
						"          {Numero Producto} = desc_referencia,",
						"          {Producto Sub Categoria ID} = id_subcategoria_producto,",
						"          {Nombre Producto} = desc_nombre",
						"     )) ~> CrearPadresFicticios"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FLOW_huerfanos_detalle_ordenes_y_regiones')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "2.transform/huerfanos"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_LT_detalle_ordenes",
								"type": "DatasetReference"
							},
							"name": "DetalleOrdenes"
						},
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_Regiones",
								"type": "DatasetReference"
							},
							"name": "Regiones"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_Regiones",
								"type": "DatasetReference"
							},
							"name": "CrearPadresFicticios",
							"rejectedDataLinkedService": {
								"referenceName": "LS_FILESTORAGE_SOURCE_banmarket",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "ListaHuerfanos"
						},
						{
							"name": "ListaIDsHuerfanos"
						},
						{
							"name": "ListaPadresFicticios"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {Detalle Orden} as integer,",
						"          {Numero Orden} as string,",
						"          {Producto ID} as integer,",
						"          {Linea Total} as double,",
						"          Cantidad as integer,",
						"          Descuento as double,",
						"          {Precio Unitario} as double,",
						"          Ganancia as double,",
						"          region_id as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DetalleOrdenes",
						"source(output(",
						"          {Region ID} as integer,",
						"          {Region Desc} as string,",
						"          {Detalle region} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Regiones",
						"DetalleOrdenes, Regiones exists(region_id == {Region ID},",
						"     negate:true,",
						"     broadcast: 'auto')~> ListaHuerfanos",
						"ListaHuerfanos select(mapColumn(",
						"          id_region = region_id",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ListaIDsHuerfanos",
						"ListaIDsHuerfanos derive(id_region = id_region,",
						"          desc_region = \"huérfano de detalle_ordenes\",",
						"          desc_detalle = \"huérfano de detalle_ordenes\") ~> ListaPadresFicticios",
						"ListaPadresFicticios sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          {Region ID} as integer,",
						"          {Region Desc} as string,",
						"          {Detalle region} as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     outputRejectedData: true,",
						"     mapColumn(",
						"          {Region ID} = id_region,",
						"          {Region Desc} = desc_region,",
						"          {Detalle region} = desc_detalle",
						"     )) ~> CrearPadresFicticios"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FLOW_huerfanos_modos_envio_y_tipos_envio')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "2.transform/huerfanos"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_tb_modo_envio",
								"type": "DatasetReference"
							},
							"name": "ModosEnvio"
						},
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_tb_tipo_envio",
								"type": "DatasetReference"
							},
							"name": "TiposEnvio"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_tb_tipo_envio",
								"type": "DatasetReference"
							},
							"name": "CrearPadresFicticios"
						}
					],
					"transformations": [
						{
							"name": "ListaHuerfanos"
						},
						{
							"name": "ListaIDsHuerfanos"
						},
						{
							"name": "ListaPadresFicticios"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id_modo as integer,",
						"          Descripcion as string,",
						"          Tipo_x0020_ID as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> ModosEnvio",
						"source(output(",
						"          id_tipo as integer,",
						"          Descripcion as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> TiposEnvio",
						"ModosEnvio, TiposEnvio exists(Tipo_x0020_ID == id_tipo,",
						"     negate:true,",
						"     broadcast: 'auto')~> ListaHuerfanos",
						"ListaHuerfanos select(mapColumn(",
						"          id_tipo_envio = Tipo_x0020_ID",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ListaIDsHuerfanos",
						"ListaIDsHuerfanos derive(id_tipo_envio = id_tipo_envio,",
						"          desc_tipo_envio = \"huérfano de modos_envio\") ~> ListaPadresFicticios",
						"ListaPadresFicticios sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id_tipo as integer,",
						"          Descripcion as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          id_tipo = id_tipo_envio,",
						"          Descripcion = desc_tipo_envio",
						"     )) ~> CrearPadresFicticios"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FLOW_huerfanos_productos_y_subcategorias')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "2.transform/huerfanos"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_LT_productos",
								"type": "DatasetReference"
							},
							"name": "Productos"
						},
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_LT_productos_sub_categoria",
								"type": "DatasetReference"
							},
							"name": "Subcategorias"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_SQL_VALIDATION_LT_productos_sub_categoria",
								"type": "DatasetReference"
							},
							"name": "CrearPadresFicticios"
						}
					],
					"transformations": [
						{
							"name": "ListaHuerfanos"
						},
						{
							"name": "ListaIDsHuerfanos"
						},
						{
							"name": "ListaPadresFicticios"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {Producto ID} as integer,",
						"          {Numero Producto} as string,",
						"          {Producto Sub Categoria ID} as string,",
						"          {Nombre Producto} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Productos",
						"source(output(",
						"          {Subcategoria Producto ID} as string,",
						"          {Categoria Producto ID} as string,",
						"          {Descripcion Subcategoria} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Subcategorias",
						"Productos, Subcategorias exists({Producto Sub Categoria ID} == {Subcategoria Producto ID},",
						"     negate:true,",
						"     broadcast: 'auto')~> ListaHuerfanos",
						"ListaHuerfanos select(mapColumn(",
						"          id_subcategoria_producto = {Producto Sub Categoria ID}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ListaIDsHuerfanos",
						"ListaIDsHuerfanos derive(id_subcategoria_producto = id_subcategoria_producto,",
						"          id_categoria_producto = \"huérfano de productos\",",
						"          desc_subcategoria = \"huérfano de productos\") ~> ListaPadresFicticios",
						"ListaPadresFicticios sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          {Subcategoria Producto ID} as string,",
						"          {Categoria Producto ID} as string,",
						"          {Descripcion Subcategoria} as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          {Subcategoria Producto ID} = id_subcategoria_producto,",
						"          {Categoria Producto ID} = id_categoria_producto,",
						"          {Descripcion Subcategoria} = desc_subcategoria",
						"     )) ~> CrearPadresFicticios"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DIARIO_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FLOW_LOAD_fac_compras",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_LOAD_fac_compras",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DetalleOrdenes": {},
									"DetalleEnvios": {},
									"FacCompras": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "3.load"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-28T12:03:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DIARIO_TRANFORM_fac_compras')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "\n",
				"activities": [
					{
						"name": "FLOW_VALIDATION_detalle_envios",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_VALIDATION_detalle_envios",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingDetalleEnvios": {},
									"ValidationDetalleEnvios": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_VALIDATION_detalle_ordenes",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_VALIDATION_detalle_ordenes",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingDetalleOrdenes": {},
									"ValidationDetalleOrdenes": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_huerfanos_detalle_ordenes_y_productos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "FLOW_VALIDATION_detalle_envios",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "FLOW_VALIDATION_detalle_ordenes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_huerfanos_detalle_ordenes_y_productos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DetalleOrdenes": {},
									"Productos": {},
									"CrearPadresFicticios": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_huerfanos_detalle_ordenes_y_regiones",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "FLOW_huerfanos_detalle_ordenes_y_productos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_huerfanos_detalle_ordenes_y_regiones",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DetalleOrdenes": {},
									"Regiones": {},
									"CrearPadresFicticios": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_huerfanos_detalle_envios_y_modo_envio",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "FLOW_huerfanos_detalle_ordenes_y_regiones",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_huerfanos_detalle_envios_y_modo_envio",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DetalleEnvios": {},
									"ModosEnvio": {},
									"CrearPadresFicticios": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_huerfanos_detalle_envios_y_regiones",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "FLOW_huerfanos_detalle_envios_y_clientes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_huerfanos_detalle_envios_y_regiones",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DetalleEnvios": {},
									"Regiones": {},
									"CrearPadresFicticios": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_huerfanos_detalle_envios_y_clientes",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "FLOW_huerfanos_detalle_envios_y_modo_envio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_huerfanos_detalle_envios_y_clientes",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DetalleEnvios": {},
									"Clientes": {},
									"CrearPadresFicticios": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2.transform/preprocessing"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-28T12:03:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/FLOW_huerfanos_detalle_ordenes_y_productos')]",
				"[concat(variables('factoryId'), '/dataflows/FLOW_huerfanos_detalle_ordenes_y_regiones')]",
				"[concat(variables('factoryId'), '/dataflows/FLOW_huerfanos_detalle_envios_y_modo_envio')]",
				"[concat(variables('factoryId'), '/dataflows/FLOW_huerfanos_detalle_envios_y_regiones')]",
				"[concat(variables('factoryId'), '/dataflows/FLOW_huerfanos_detalle_envios_y_clientes')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MENSUAL_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FLOW_LOAD_dim_productos",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_LOAD_dim_productos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Productos": {},
									"Subcategorias": {},
									"Categorias": {},
									"DimProductos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_LOAD_fac_targets",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_LOAD_fac_targets",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Targets": {},
									"FacTargets": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "3.load"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-28T12:03:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MENSUAL_TRANFORM_fac_targets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "\n",
				"activities": [
					{
						"name": "FLOW_VALIDATION_target_region",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_VALIDATION_target_region",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingTargetRegion": {},
									"ValidationTargetRegionn": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2.transform/preprocessing"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-28T12:03:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MENSUAL_TRANSFORM_dim_productos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FLOW_VALIDATION_productos",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_VALIDATION_productos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingProductos": {},
									"ValidationProductos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_VALIDATION_categorias_producto",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_VALIDATION_categorias_producto",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingCategoriasProducto": {},
									"ValidationCategoriasProducto": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_VALIDATION_subcategorias_producto",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_VALIDATION_subcategorias_producto",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingSubcategoriasProducto": {},
									"ValidationSubcategoriasProducto": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_huerfanos_productos_y_subcategorias",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "FLOW_VALIDATION_productos",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "FLOW_VALIDATION_categorias_producto",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "FLOW_VALIDATION_subcategorias_producto",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_huerfanos_productos_y_subcategorias",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Productos": {},
									"Subcategorias": {},
									"CrearPadresFicticios": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_huerfanos_categorias_y_subcategorias",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "FLOW_huerfanos_productos_y_subcategorias",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_huerfanos_categorias_y_subcategorias",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Categorias": {},
									"Subcategorias": {},
									"CrearPadresFicticios": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2.transform/preprocessing"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-28T12:03:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/FLOW_huerfanos_productos_y_subcategorias')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SEMANAL_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FLOW_LOAD_dim_clientes",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_LOAD_dim_clientes",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Clientes": {},
									"ClienteLocalizacion": {},
									"DimClientes": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "3.load"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-28T12:03:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SEMANAL_TRANFORM_dim_clientes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "\n",
				"activities": [
					{
						"name": "FLOW_VALIDATION_clientes",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_VALIDATION_clientes",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingClientes": {},
									"ValidationClientes": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_VALIDATION_cliente_localizacion",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_VALIDATION_cliente_localizacion",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingClienteLocalizacion": {},
									"ValidationClienteLocalizacion": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_huerfanos_clientes_y_localizacion",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "FLOW_VALIDATION_clientes",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "FLOW_VALIDATION_cliente_localizacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_huerfanos_clientes_y_localizacion",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Customer": {},
									"CustomerLocalizacion": {},
									"CrearPadresFicticios": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2.transform/preprocessing"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-28T12:03:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/FLOW_huerfanos_clientes_y_localizacion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRIMESTRAL_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FLOW_LOAD_dim_modos_envio",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_LOAD_dim_modos_envio",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ModosEnvio": {},
									"TiposEnvio": {},
									"DimModosEnvio": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_LOAD_dim_fechas",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_LOAD_dim_fechas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Fechas": {},
									"DimFechas": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_LOAD_dim_regiones",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_LOAD_dim_regiones",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Regiones": {},
									"DimRegiones": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "3.load"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-28T12:03:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRIMESTRAL_TRANFORM_dim_fechas')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "\n",
				"activities": [
					{
						"name": "FLOW_VALIDATION_fechas",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_VALIDATION_fechas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingFechas": {},
									"ValidationFechas": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2.transform/preprocessing"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-28T12:03:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRIMESTRAL_TRANFORM_dim_regiones')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "\n",
				"activities": [
					{
						"name": "FLOW_VALIDATION_regiones",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_VALIDATION_regiones",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingRegiones": {},
									"ValidationRegiones": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2.transform/preprocessing"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-28T12:03:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRIMESTRAL_TRANSFORM_dim_modos_envio')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FLOW_VALIDATION_modos_envio",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_VALIDATION_modos_envio",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingModosEnvio": {},
									"ValidationModosEnvio": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_VALIDATION_tipos_envio",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_VALIDATION_tipos_envio",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingTiposEnvio": {},
									"ValidationTiposEnvio": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FLOW_huerfanos_modos_envio_y_tipos_envio",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "FLOW_VALIDATION_modos_envio",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "FLOW_VALIDATION_tipos_envio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_huerfanos_modos_envio_y_tipos_envio",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ModosEnvio": {},
									"TiposEnvio": {},
									"CrearPadresFicticios": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2.transform/preprocessing"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-28T12:03:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/FLOW_huerfanos_modos_envio_y_tipos_envio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TEST_FLOW_LOAD_dim_clientes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FLOW_LOAD_dim_clientes",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLOW_LOAD_dim_clientes",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Clientes": {},
									"ClienteLocalizacion": {},
									"DimClientes": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "tests/load"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-28T07:06:31Z"
			},
			"dependsOn": []
		}
	]
}